@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";

.hide {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: $white;
  text-decoration: none;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @extend %flex;
  flex-direction: column;
  .nav {
    width: 100vw;
    height: em(100px);
    padding: em(75px) em(100px);
    @extend %flex;
    align-items: flex-start;
    justify-content: space-between;
    .left-logos {
      .nav-logo1 {
        height: 50px;
        margin-right: 10px;
      }
      .nav-logo2 {
        width: 175px;
        // margin-left: -60px;
      }
    }
    .top-nav {
      list-style: none;
      @extend %flex;
      align-items: center;

      li {
        color:$white;
        margin: 0 em(20px);
        align-self: flex-end;
      }
    }
  }
  .main-center {
    width: 100%;
    color: $white;
    @extend %flex;
    flex-direction: column;
    align-items: center;
    .main-image {
      width: 850px;
      margin-top: -50px;
      margin-bottom: -50px;
    }
    h2 {
      font-size: 20px;
      letter-spacing: 7px;
      margin-bottom: 0;
      margin-top: 5px;
    }
    .main-line {
      height: em(5px);
      width: em(300px);
      display: inline-block;
      background-color: $white;
    }
    .wrap {
    overflow: hidden;
    width: em(200px);
    height: em(150px);
    bottom: 0;
      .button {
        background-color: $orange;
        border: none;
        color: $white;
        width: 100%;
        height: auto;
        padding: em(25px) 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: em(14px);
        margin-top: em(70px);
        cursor: pointer;
        border-radius: 4px;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: 3px;
        position: relative;
        overflow: hidden;
      }
      .arrow_box {
      	position: relative;
      	background: $orange;
      }
      .arrow_box:after {
      	top: 0;
      	left: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      	border-top-color: $orange;
      	border-width: 10px;
      	margin-left: -10px;
      }
    }
  }
}

.middle-nav-wrap{
  width: 100vw;
  height: em(100px);
  background-image: url(../img/bg-middle-nav.jpg);
  background-repeat: repeat;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-size: em(14px);
  padding: 0 em(100px) 0 em(30px);
  @extend %flex;
  .middle-nav {
    @extend %flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width: 100vw;
    .middle-list {
      width: 100%;
      height: 100%;
      list-style: none;
      @extend %flex;
      justify-content: space-between;
      align-items: center;
      .left {
        @extend %flex;
        justify-content: flex-start;
      }
      .right {
        justify-content: flex-end;
      }
      #bar {
        color: $white;
      }
      li {
        margin: 0 em(20px);
        a {
          color: #c0b4a6;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .box {
    height: 325px;
    border: none;
    margin: 0;
    padding: 0;
    flex: 1 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    &:nth-child(1) {
      background-image: url("../img/rafting.jpg");
      flex-basis: 600px;
    }
    &:nth-child(2) {
      background-image: url("../img/basecamp.jpg");
      flex-basis: 300px;
    }
    &:nth-child(3) {
      background-image: url("../img/backpacking.jpg");
      flex-basis: 300px;
    }
    &:nth-child(4) {
      background-image: url("../img/canoeing.jpg");
      flex-basis: 300px;
    }
    &:nth-child(5) {
      background-image: url("../img/photography.jpg");
      flex-basis: 300px;
    }
    &:nth-child(6) {
      background-image: url("../img/custom.jpg");
      flex-basis: 600px;
    }
  }
